<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta charset="utf-8">
  <title>Tetsuo Deployment</title>
</head>

  <body>
    <div class="container" id="app-state">
      <h3 class="text-center">Tetsuo Deployment</h3>
    </div>
    <div class="container" id="git-post">
      <div class="columns medium-4">
        <div class="card">
          <div class="card-section">
            <p>Tetsuo Application Deployment Details</p>
          </div>
          <div class="card-section">
            <v-text-field class="label-left" label="App Name" v-model="appname"></v-text-field>
            <v-text-field class="label-left" label="Git Repository URL" v-model="repourl"></v-text-field>
            <v-text-field class="label-left" label="Branch" v-model="branch"></v-text-field>
            <v-text-field class="label-left" label="Port" v-model="apport"></v-text-field>
            <v-btn type="submit" @click="submit">Submit</v-btn>
          </div>
        </div>
      </div>
      <v-progress-circular indeterminate color="purple" :size="128" :width="12" v-if="is_loading"></v-progress-circular>
    </div>

<div>
  <div class="text-center">
    <v-progress-circular
      :value="100"
      color="blue-grey"
    ></v-progress-circular>
</div>
<style scoped>
.v-progress-circular {
  margin: 1rem;
}
.label-left .v-label {
  left: 0 !important;
  transform-origin: top left !important;
}
</style>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      const git_url = "http://www.svkcode.org:8080/pull"
      const app_url = "http://www.svkcode.org:8181/app"
      const goo = new Vue({
         el: '#git-post',
         data: {
           is_loading: false,
         },
         methods: {
           async submit(){
                 this.is_loading = true;
                 const git_data = {
                   url: this.repourl,
                   branch: this.branch
                 }
                 const app_data = {
                   name: this.appname,
                   port: this.apport,
                   directory: "/apps/" + this.appname
                 }
                 await axios.post(git_url, git_data)
                   .then((response) => {
                     console.log(response)
                     axios.post(app_url, app_data)
                       .then((app_response) => {
                         console.log(app_response)
                       })
                       .finally(() => {
                         this.is_loading = false;
                       })
                   })

               } //end of submit
         } //end of methods
      }); // end of Vue
    </script>
  </body>
</html>

